.footer {
	background-color: var(--background-color);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.footer-container {
	//display: flex;
	//align-items: baseline;
	width: 100%;
	@media screen and (max-width: 767.99px) {
			display: block;
			text-align: center;
		}
	
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;
		}
	
		@media screen and (min-width: 1200px) {
			display: flex;
			align-items: baseline;
			width: 100%;
		}
}
.footer-logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
	display: inline-block;

	@media screen and (min-width: 480px){
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px){
		margin-left: 115px;
		margin-bottom: 20px;
	}
		@media screen and (min-width: 1200px){
			margin-bottom: 20px;
			margin-left: 0;
		}


}
.footermain{
	@media screen and (max-width: 767.99px){
		text-align: center;
	}
	@media screen and (min-width: 1200px){
		width: 231px;
		text-align: start;
	}
}
.footer-studio {
	color: var(--hero-text-color);
}

address {
	font-style: normal;

}

.address {
	width: 232px;
	@media screen and (max-width: 767.99px){
		width: 100%;
		margin-bottom: 60px;
	}
	@media screen and (min-width: 768px){
		margin-left: 76px;
		margin-bottom: 60px;
		}
	@media screen and (min-width: 1200px){
	text-align: start;
	margin-left: 0;
	margin-bottom: 0;
	
	}
	
}

.footer-address {
	font-weight: 400;
	line-height: 1.71;
	color: var(--hero-text-color);
}

.footer-tel {
	font-weight: 400;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:hover {
	color: var(--hero-text-color);
}

.mail-footer {
	font-weight: 400;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover,
.mail-footer:focus {
	color: var(--hero-text-color);
}

.footer-list>.footer-item:not(:last-child) {
	margin-bottom: 9px;
}
/*сщціальні мережі у підвалі*/
.footer-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--hero-text-color);
	margin-bottom: 20px;
}

.footer-icon-list {
	@media screen and (max-width: 767.99px) {
		display: flex;
		justify-content: center;	}
	
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
	}
	
	@media screen and (min-width: 1200px) {
	display: flex;
	}
	
}

.footer-icon-item:not(:last-child) {
	margin-right: 10px;
}

.footer-link-item {
	width: 44px;
	height: 44px;
	fill: var(--hero-text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
	@media screen and (max-width: 767.99px) {
		margin-bottom: 60px;
		}
	
	@media screen and (min-width: 768px) {
		margin-right: 89px;
		}
	
	@media screen and (min-width: 1200px) {margin-right: 0;
		}
	

}



.footer-link-item:hover,
.footer-link-item:focus {

	background-color: var(--accent-color);
}



.mail-input-form {
	

	@media screen and (max-width: 767.99px) {

		}
	
	@media screen and (min-width: 768px) {
		margin-left: 166px;
	}
	
	@media screen and (min-width: 1200px) {
		margin-left: 93px;

		}
}

.input-text {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--hero-text-color);

}

.input-form {

	@media screen and (max-width: 767.99px) {
		display: block;
		text-align: center;
	}
	
	@media screen and (min-width: 768px) {
		display: block;
		max-width: 450px;
		height: auto;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		
	}
	
	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: flex-end;
		max-width: 570px;
		height: auto;
		text-align: left;

	
		}
	
}

.mail-input {
	margin-right: 12px;
	padding: 15px 16px;
	width: 358px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	background: var(--background-color);
	color: var(--hero-text-color);
	outline: none;
	@media screen and (max-width: 767.99px){
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px){
		margin-bottom: 20px;
		}
}

.footer-bg {
	width: 200px;
	height: 50px;
	padding: 10px 29px;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--hero-text-color);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@media screen and (max-width: 1199px){
		margin: auto;
	}
	
}

.icon-svg-footer {
	margin-left: 10px;
	width: 24px;
	height: 24px;
	fill: var(--hero-text-color);
}

.footer-bg:hover,
.footer-bg:focus {
	background-color: var(--btn-second-color);
}