.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&.is-hidden {
			opacity: 0;
			visibility: hidden;
		}
}


.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background: var(--hero-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	justify-content: flex-end;
}

.btn-modal {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	background: var(--hero-text-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	cursor: pointer;
}

.close-icon {
	fill: var(--vector-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
	fill: var(--accent-color);
}


/*внутрішнє оформлення модал вікна*/
.windows-form {
	padding: 40px;
}

.form-title {
	display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-bottom: 12px;
}

.icon-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.form-element-label {
	position: relative;
	display: flex;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.16;
	color: var(--primary-text-color);

}

.form-input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 12px 11px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}


.input {
	padding-left: 42px;
}

.form-icon-svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;

	.form-input:focus + & {
		fill: var(--accent-color);
}
}



.form-input:hover,
.form-input:focus {
	fill: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.form-element label {
	margin-bottom: 4px;
}

.form-comment {
	display: flex;
	flex-direction: column;
	height: 138px;
	margin-bottom: 20px;
}

label {
	color: var(--primary-text-color);
}

.form-comment ::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.textarea {
	width: 448px;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 20px;
	font-weight: 400;
	resize: none;
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
	fill: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.textarea-form {
	height: 120px;
	resize: none;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

.textarea::placeholder {
	color: rgba(117, 117, 117, 0.5);
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	font-weight: 400;
}

.checkbox {
	display: flex;
	margin-bottom: 30px;
}

.checkbox-input {
	cursor: pointer;
	margin-right: 7px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}


.checkbox-label::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 8.5px;
	border: 1px solid var(--vector-color);
	background-image: url(../img/icon.svg/Vector.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.checkbox-input:checked+.checkbox-label::before {
	background-color: var(--btn-second-color);
	border: 0px;
}



.box-link {
	color: var(--accent-color);
	margin-left: 2px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
}

.input-btn-modal {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 55px 10px 56px;
	border: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin: auto;


	cursor: pointer;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-btn-modal:hover,
.input-btn-modal:focus {
	background: var(--btn-second-color);
	box-shadow: var(--btn-second-color);
}

.form-icon {
	position: absolute;
	top: 50%;
	margin-left: 12px;
	fill: var(--title-text-color);
	cursor: pointer;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover~.form-icon,
.form-input:focus~.form-icon {
	fill: var(--accent-color);
}