.filter__btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	color: var(--title-text-color);
	cursor: pointer;
	background-color: var(--background-team-color);
	border: 0 solid transparent;
	border-radius: 4px;
	padding: 6px 22px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn {
	color: var(--hero-text-color);
	background-color: var(--accent-color);
}

.filter__btn:hover,
.filter__btn:focus {
	background-color: var(--accent-color);
	color: var(--hero-text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.project-card__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.project-card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	color: var(--primary-text-color);
}

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter .filter__item:not(:last-child) {
	margin-right: 8px;
}

.filter__item {
	display: flex;
	align-items: center;
}


.project-list{
	display: flex;
	flex-wrap: wrap;
	flex-basis: calc((100% - 60px) / 3);
	margin-left: -30px;
	margin-bottom: -30px;
}
.project-list > .portfolio-item {
	margin-left: 30px;
	margin-top: 30px;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-item:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.project-card {
	padding: 20px 24px;
	background-color: #FFFFFF;
	border-right: 1px solid var(--container-border-color);
	border-left: 1px solid var(--container-border-color);
	border-bottom: 1px solid var(--container-border-color);
}

.line-portfolio {
	border: 1px solid var(--border-color);
}

.project .project__item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Спливаюче вікно портфоліо*/
.project__img {
	position: relative;
	overflow: hidden;
}

.project__link {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 63px 24px;
	color: var(--hero-text-color);
	font-size: 18px;
	line-height: 1.55;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .overlay,
.project__link:focus .overlay {
	transform: translateY(0%);
	background-color: rgba(33, 150, 243, 0.9);
}